.wordle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    /* height: 600px; */
  }
  
  .wordle:focus {
    outline: none;
  }
  
  .title {
    text-transform: capitalize;
    color: rgb(244, 208, 3);
  }
  
  .notification {
    text-align: center;
    height: 0.3rem;
    margin: 1em;
    color: salmon;
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  .notification--green {
    color: #538d4e;
  }
  
  .new-game-button{
    background-color: rgb(0, 176, 0);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
  }

 